{% extends 'blog/base.html' %}

{% block content %}
<div class="post-list">
    {% for post in posts %}
    <article class="post">
        <h2 class="post-title">
            {% if post.thumbnail %}
            <a href="{% url 'post_detail' slug=post.slug %}"> <pre >   {{ post.title }}</pre> <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}"height ="150px" width="200px"> </a>
            {% endif %}
                </h2>
                
                <time class="date">
                    <style>
                        .post-container {
                            max-width: 100%;
                            overflow: hidden;
                        }



                        .post-text {
                            max-width: 100%;   
                            overflow: hidden; 
                            text-overflow: ellipsis;  
                            white-space: nowrap;  
                            word-wrap: break-word;
                        }
                    </style>
                    
                </time>
                <div class="post-container">
                    <p class="post-text">{{ post.text|linebreaksbr }}</p>
                </div>


                

                <p>Category: {{ post.category.title }}</p>
                <p>Tags: {% for tag in post.tags.all %}{{ tag.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

                    
            </article>
        {% endfor %}
    </div>
{% endblock %}

