{% extends 'blog/base.html' %}

{% block content %}
    <article class="tag">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_list' %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>

        {% if tag.created_date %}
            <time class="date">
                {{ tag.created_date }}
            </time>
        {% endif %}

        <h2>{{ tag.title }}</h2>
        <p>{{ tag.text|linebreaksbr }}</p>
    </article>
{% endblock %}
