{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
    <center>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">User Detail</h2>
                <ul class="list-group list-group-flush">


                    <center>
                        {% if user.avatar %}
                            <img src="{{ request.user.avatar.url }}" alt="{{ user.Username }}" style="border-radius: 50%; height: 60px; width: 60px;" accept = "Jpg,png">
                        
                            {% endif %}
                         
                    </center>
                    
                    

                    <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                    
                    <li class="list-group-item"><strong>Mobile No:</strong> {{ user.mobile_number }}</li>
                    <li class="list-group-item"><strong>CITY:</strong> {{ user.city }}</li>
                    <li class="list-group-item"><strong>COUNTRTY:</strong> {{ user.country }}</li>
                    <li class="list-group-item"><strong>DOB:</strong> {{ user.dob }}</li>



                        
                </ul>
                <a href="{% url 'edit_profile' user_id=user.id %}" class="btn btn-primary mt-3">Edit Profile</a>
            </div>
        </div>
    </center>
    </div>
{% endblock %}
